---
layout: default
title: Flaming Dangerzone
---

<section id="cxx11">

  <h3>Exploring C++11</h3>

  <p>
  The C++ language has evolved. A bunch of new features were added to it in 2011.
  Gradually, compilers are adding support for them. And programmers can now start
  exploring these features, learning both their power and their limitations.
  </p>

  <p>
  In this series of articles I document what I learned in my own explorations of the
  language, both on my own and with the help of others.
  </p>

  <ul class="posts">
    {% for post in site.categories.cxx11 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        &laquo;
        <span>{{ post.short }}</span>
    {% endfor %}
  </ul>

</section>

<section id="unicode">

  <h3>Taming Unicode</h3>

  <p>
  Writing is a crucial part of almost all human cultures. The vast diversity in human cultures
  has lead to the use of numerous writing systems. Unicode is an attempt at making it possible
  for programmers to represent and handle text in all of those writing systems.
  </p>

  <p>
  I got curious about Unicode around June 2012, after several discussions about the sad state of
  affairs in C++. I started by writing a simple set of encoders and decoders just for show, but got
  progressively more and more interested in the subject. Eventually I found myself writing what I
  now intend to turn into a serious library for handling Unicode.
  </p>

  <p>
  This series of posts explains some of the motivations, problems, and design decisions involved
  in the development of <a href="https://bitbucket.org/martinhofernandes/ogonek">ogonek</a>, my
  Unicode library.
  </p>

  <ul class="posts">
    {% for post in site.categories.unicode %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        &laquo;
        <span>{{ post.short }}</span>
    {% endfor %}
  </ul>

</section>

<!--
<section id="books">

  <h3>Book reviews</h3>

  <p>
  I like to read. I am a fan of science fiction and fantasy literature.
  </p>

  <ul class="posts">
    {% for post in site.categories.books %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</section>
-->

<!--
<section id="docs">

  <h3>Library documentation</h3>

  <p>
  I have written some C++ libraries that others might find useful. The
  documentation for those libraries can be found here.
  </p>

  <ul>
-->
<!--
    <li><a href="/doc/ogonek/index.html">˛ (ogonek)</a> &raquo; an Unicode handling
        library using C++ idioms;</li>
-->
<!--
    <li><a href="/doc/wheels/index.html">Wheels</a> &raquo; a collection of small
        general purpose components;</li>
-->
<!--
    <li><em>and more coming soon?</em></li>
-->
<!--
  </ul>
</section>
-->

