    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Flaming Dangerzone" />

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (all)" href="/rss.xml" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (Exploring C++11)" href="/rss-cxx11.xml" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (Taming Unicode)" href="/rss-unicode.xml" />
    {% if page.icon %}
    <link rel="icon" type="image/png" href="{{ page.icon }}" />
    {% else %}
    <link rel="icon" type="image/png" href="/icon.png" />
    {% endif %}
