    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta property="og:site_name" content="Flaming Dangerzone" />
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    {% endif %}
    {% if page.short %}
    <meta property="og:description" content="{{ page.short }}" />
    {% endif %}

    <meta name="referrer" content="no-referrer" />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/slate.css" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (all)" href="/rss.xml" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (Exploring C++11)" href="/cxx11/rss.xml" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (Taming Unicode)" href="/unicode/rss.xml" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (Have Bicycle—Will Travel)" href="/travel/rss.xml" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone ()" href="/travel/rss.xml" />
    {% if page.icon %}
    <link rel="icon" type="image/png" href="{{ page.icon }}" />
    {% else %}
    <link rel="icon" type="image/png" href="/icon.png" />
    {% endif %}
