---
layout: default
title: Exploring C++ and beyond
---

<section id="cxx11">

  <h3>
    {{ page.title }}
    <a href="rss.xml"><img class="rss" src="/images/rss.png" /></a>
  </h3>

  <p>
  The C++ language is evolving. A bunch of new features were added to it in
  2011, and some more are coming in 2014. Gradually, compilers are adding
  support for them. And programmers can now start exploring these features,
  learning both their power and their limitations.
  </p>

  <p>
  In this series of articles I document what I learned in my own explorations of the
  language, both on my own and with the help of others.
  </p>

  <ul class="posts">
    {% for post in site.categories.cxx11 %}
      {% include post-entry.html %}
    {% endfor %}
  </ul>

</section>
