---
is_doc: true
icon: /doc/ogonek/icon.png
section_title: Ogonek
section_root: /doc/ogonek
---
<!DOCTYPE html>
<html>

  <head>

    {% include metadata.html %}

    <title>Ogonek - {{ page.title }}</title>

    {% include ga.html %}

  </head>

  <body>

    {% include header.html %}

    <div id="main_content_wrap" class="outer">
      <article id="main_content" class="inner">

        <h2 id="post_title">{{ page.title }}</h2>
        {{ content }}

      </article>
    </div>

    {% include footer.html %}

  </body>
</html>


