<!DOCTYPE html>
<html>

  <head>

    {% include metadata.html %}
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (Exploring C++11)" href="/rss-cxx11.xml" />
    <link rel="alternate" type="application/rss+xml" title="Flaming Dangerzone (Taming Unicode)" href="/rss-unicode.xml" />

    <title>Flaming Dangerzone</title>

    {% include ga.html %}

  </head>

  <body>

    {% include header.html %}

    <div id="main_content_wrap" class="outer">
      <article id="main_content" class="inner">

        {{ content }}

      </article>
    </div>

    {% include footer.html %}

  </body>
</html>


