<!DOCTYPE html>
<html>

  <head>

    {% include metadata.html %}
    {% for category in site.categories %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss-{{ category.name }}.xml" />
    {% endfor %}

    <title>Flaming Dangerzone</title>

    {% include ga.html %}

  </head>

  <body>

    {% include header.html %}

    <div id="main_content_wrap" class="outer">
      <article id="main_content" class="inner">

        {{ content }}

      </article>
    </div>

    {% include footer.html %}

  </body>
</html>


